* {
  margin: 0;
}

.headerNome {
  background: linear-gradient(90deg, coral, orange, yellow, white);
  color: blue;
  font-size: larger;
  font-weight: 900;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.ul {
  display: flex;
  justify-content: center;
  padding: 2px 10px;
}

.ul li {
  background: linear-gradient(yellow, cyan, white);
  background-color: aqua;
  border-radius: 9px;
  list-style: none;
  margin-left: 20px;
  padding: 3px 5px;
  text-transform: uppercase;
}

.loading {
  background-color: aqua;
  text-align: center;
}
