.musicas {
  display: flex;
  flex-wrap: wrap;
}

.musica {
  background-color: rgb(219, 245, 245);
  border-radius: 18px;
  height: 300px;
  justify-content: center;
  margin: 5px;
  margin-top: 20px;
  text-align: center;
  width: 150px;
}

.musica:hover {
  background: linear-gradient(120deg, #03a9f4, #f441a5, #ffeb3b, #03f403);
}


.loginButon {
  background: #3be2ff;
  border-radius: 10px;
  padding: 5px 10px;
}


input {
  border: solid 1px #03a9f4;
  border-radius: 10px;
  outline: none;
  padding: 4px;
}

.formLogin {
  justify-content: space-around;
  text-align: center;
}

.audio {
  background-color: rgb(219, 245, 245);
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.audio:hover {
  background: linear-gradient(120deg, #03a9f4, #f441a5, #ffeb3b, #03f403);
}

.album {
  background-color: rgb(179, 245, 217);
  border-radius: 18px;
  height: 200px;
  justify-content: center;
  margin: 5px;
  text-align: center;
  width: 150px;
}

.id {
  background-color: #03a9f4;
  color: white;
  display: block;
  margin-top: 5%;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* .musica :nth-child( 6 ) {
  color: red;
  grid-area: auto;
} */
